<?xml version="1.0" encoding="utf-8"?>
<!--
Ten plik jest wykorzystywany przez proces publikowania/pakowania projektu internetowego. Możesz dostosować zachowanie tego procesu
 poprzez edycję tego pliku MSBuild. Aby dowiedzieć się więcej o tym działaniu, odwiedź stronę https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/bcdccabd-93a4-4c4b-8818-3f02c42d1255/resourcegroups/WebApplication120230107184240ResourceGroup/providers/Microsoft.Web/sites/WebApplication120230107184240</ResourceId>
    <ResourceGroup>WebApplication120230107184240ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://webapplication120230107184240.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>d7f17199-7481-46d4-b584-b7175bf70073</ProjectGuid>
    <PublishUrl>https://webapplication120230107184240.scm.azurewebsites.net/</PublishUrl>
    <UserName>$WebApplication120230107184240</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>